{{> head }}
{{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Simba El León</h1>
            <p>Artista del hip-hop</p>
        </div>
        <div class="col-4">
            <img src="/assets/img/tamarindo.jpg"  class="img-thumbnail">
        </div>
    </div>
{{> footer }}